<div class="container mb-4">
  <h2 class="text-center">Reactive Form</h2>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form (ngSubmit)="submitForm()" [formGroup]="heroForm">
          <div>
            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" id="name" name="name" class="form-control" formControlName="name" required>
              <p *ngIf="heroForm.get('name')!.invalid && heroForm.get('name')!.touched">Campo Obbligatorio</p>
              <label for="alterEgo">Alter Ego</label>
              <input type="text" id="alterEgo" name="alterEgo" class="form-control"  formControlName="alterEgo"  required>
              <p *ngIf="heroForm.get('alterEgo')!.invalid && heroForm.get('alterEgo')!.touched">Campo Obbligatorio</p>
            </div>
            <div class="form-group">
              <label for="power">Poteri</label>
              <select name="power" id="power" class="form-select" class="form-control"  required>
                <option value=""></option>
                <option value="fly">Volare</option>
                <option value="invisibility">Invisibilità</option>
                <option value="angular">Angular-Pro</option>
              </select>
              <p *ngIf="heroForm.get('power')!.invalid && heroForm.get('power')!.touched">Campo Obbligatorio</p>
            </div>
            <div class="form-group">
              <label for="enemy">Nemico</label>
              <input type="text" id="enemy" name="enemy" class="form-control"  formControlName="enemy">
              <p *ngIf="heroForm.get('enemy')!.value && heroForm.get('enemy')!.value.length > 10">Caratteri Massimi: 10</p>
              <label for="planet">Pianeta</label>
              <input type="text" id="planet" name="planet" class="form-control"  formControlName="planet"  required>
              <p *ngIf="heroForm.get('planet')!.invalid && heroForm.get('planet')!.touched">Campo Obbligatorio</p>
              <p *ngIf="heroForm.get('planet')!.value && heroForm.get('planet')!.value.length < 5">Caratteri Minimi: 5</p>
              <label for="weakness">Debolezza</label>
              <input type="text" id="weakness" name="weakness" class="form-control mb-3">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="heroForm.invalid">Invia</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

